.header {
   &__banner {
      padding: 247px 0;

      &__body {
         max-width: 530px;

         &__italic {
            @include italic-title
         }

         a {
            margin-top: 23px;
            @include default-button-yellow;

            div {
               @include flex-with-gap(10px);
            }

         }
      }
   }

}




.top {
   padding-top: 145px;

   &__wrapper {
      @include flex-with-gap(30px)
   }

   &__column {
      height: 376px;
      border-radius: 25px;
      overflow: hidden;
      position: relative;

      &__body {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 72px;
         max-width: 277px;

         &__top {
            @include italic-title
         }
      }

      &.first {
         .top__column__body__top {
            color: var(--white-first);
            font-family: var(--font-third);
         }

         h3 {
            color: var(--white-first)
         }
      }

      &.second {
         .top__column__body__top {
            color: var(--light-blue);
            font-family: var(--font-third);
         }
      }
   }
}

.about_us {
   padding-top: 288px;

   &__wrapper {
      @include flex-with-gap(0px);
   }

   &__image,
   &__desc {
      flex: 1;
   }

   &__desc {
      a {
         div {
            @include flex-with-gap(14px);
         }

         margin-top: 30px;
         @include pagination-button;
         // height: 75px !important;
      }

      &__title {
         @include italic-title;
      }

      p {
         margin-bottom: 14px;
         @include paragraph
      }

      &__rows {
         margin-top: 48px;
         display: flex;
         flex-direction: column;
         row-gap: 35px;

      }

      &__row {
         @include flex-with-gap(46px);
         max-width: 530px;

         &__icon {
            width: 46px;
            height: 46px;
            flex-shrink: 0;
         }

         p {
            @include paragraph
         }
      }
   }
}


.products {
   padding-bottom: 200px;

   &__more {
      @include pagination-button;
      margin: 0 auto;
      margin-top: 122px;

      div {
         @include flex-with-gap(14px)
      }
   }

   padding-top: 150px;

   &__italic {
      @include italic-title
   }

   &__italic,
   h2 {
      text-align: center;
   }

   &__wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 7px;
      row-gap: 20px;
   }

   .product {
      padding-top: 29px;
      padding-bottom: 17px;
      position: relative;
      border-radius: 30px;
      background: var(--main-white);

      .product__catgory {
         margin-left: 30px;
         padding: 5px;
         border-radius: 5px;
         color: var(--white-first);
         text-align: center;
         font-family: var(--font-second);
         font-size: 15px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
         width: max-content;
         background: var(--dark-blue);
         margin-bottom: 13px;
      }

      &__image {
         height: 324px;
      }

      &__bottom {
         padding: 0 30px;

         &__info {
            @include flex-justify-content;

            &__prices {
               @include flex-with-gap(8px);

               &__old {
                  color: var(--main--gray);
                  text-align: center;
                  font-family: var(--font-second);
                  font-size: 15px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  text-decoration: line-through;
                  ;
               }

               &__new {
                  font-family: var(--font-second);
                  text-align: center;
                  color: var(--dark-blue);
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
               }
            }

            &__stars {
               color: rgba(255, 168, 88, 1);
               font-size: 25px;
            }
         }

         &__title {
            @include titles-styles(20px, var(--dark-blue), var(--main-font))
         }

         hr {
            width: 100%;
            stroke-width: 1px;
            stroke: #DEDDDD;
            height: 1px;
            margin-top: 15px;
            margin-bottom: 8px;
         }
      }
   }
}

.testimonial {
   padding-top: 164px;

   &__top {
      text-align: center;
      @include italic-title
   }

   h2 {
      text-align: center;
      margin-bottom: 80px;
   }
   .slider {
      max-width: 780px;
      margin: 0 auto;
   }
   &__slider {
      

      &__image {
         width: 110px;
         height: 110px;
         border-radius: 100%;
         overflow: hidden;
         margin: 0 auto;
         margin-bottom: 20px;
      }

      &__stars {
         font-size: 25px;
         width: max-content;
         margin: 0 auto;
         color: rgba(255, 168, 88, 1);
         margin-bottom: 25px;
      }

      p {
         @include paragraph;
         text-align: center;
      }

      &__name {
         text-align: center;
         margin-top: 20px;
      }

      &__position {
         color: var(--main-gray);
         font-family: var(--main--gray);
         font-size: 15px;
         font-style: normal;
         font-weight: 400;
         line-height: 165.4%;
         text-align: center;
         margin-top: 5px;
      }
   }
}