:root {
   --dark-blue: #274C5B;
   --light-blue: #7EB693;
   --dark-green: #68A47F;
   --light-yellow: #EFD372;
   --light-gray: #D4D4D4;
   --main-white: #F9F8F8;
   --light-white: #EFF6F1;
   --white-first: #fff;
   --main-gray: #525C60;
   --main-font: 'Roboto';
   --font-second: Open Sans;
   --font-third: Yellowtail;;
}