.product {
   &.product {
      padding-top: 114px;
   }
   &__info {
      &__contents {
         @include paragraph;
         max-width: 1130px;
         margin: 0 auto;
         margin-top: 27px;
         text-align: center;
      }
      &__btns {
         @include flex-with-gap(20px);
         width: max-content;
         margin: 0 auto;
      }
      &__btn {
         border-radius: 25px;
         width: max-content;
         background: rgba(39, 76, 91, 0.4);
         padding: 23px 61px;
      }
   }
   &__add {
      margin-top: 35px;

      form {
         @include flex-with-gap(20px);
         &>span {
            color: var(--dark-blue);
            font-family: var(--main-font);
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
         }
         a {
            @include pagination-button;
            div {
               @include flex-with-gap(13px)
            }
         }
         input {
            width: 134px;
            height: 80px;
            border-radius: 25px;
            border: 2px solid var(--dark-blue);
            &::placeholder {
               color: var(--dark-blue);
               font-family: var(main-font);
               font-size: 20px;
               font-style: normal;
               font-weight: 700;
               line-height: normal;
            }
            &:focus {
               outline: none;
            }
            text-align: center;
         }
      }
   }
   &__wrapper {
      @include flex-justify-content
   }
   &__img,
   &__desc {
      flex: 1;
   }
   &__prices {
      @include flex-with-gap(6px);
      &__old {
         color: var(--main--gray);
         text-align: center;
         font-family: var(--font-second);
         font-size: 20px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
         text-decoration: line-through;
      }
   }
   &__desc {
      p {
         @include paragraph;
         margin-top: 27px;
      }
      .testimonial__slider__stars {
         margin: 9px 0;
      }
   }
}
.related {
   padding-top: 140px;
   h2 {
      text-align: center;
   }
}